# Ignore Python cache files
__pycache__/

# Ignore model checkpoints
/models/trained_model/
results/
logs/

# Ignore datasets
data/processed/

# Ignore Jupyter Notebook checkpoints
*.ipynb_checkpoints

spam_abuse_detection/models/trained_model/checkpoint-*/optimizer.pt
spam_abuse_detection/models/trained_model/